<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eenet.basequery.frontend.pri.PriMeun" >
  <resultMap id="default" type="com.eenet.basequery.frontend.pri.PriMeun" >
  	<result column="CREATED_DT" property="crdt" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="crps" jdbcType="VARCHAR" />
    <result column="CREATED_SID" property="crss" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="mddt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="mdps" jdbcType="VARCHAR" />
    <result column="UPDATED_SID" property="mdss" jdbcType="VARCHAR" />
    <result column="REMARK" property="dataDescription" jdbcType="VARCHAR" />
    
    <id column="MEUN_ID" property="meunId" jdbcType="VARCHAR" />
    <result column="MEUN_NAME" property="meunName" jdbcType="VARCHAR" />
    <result column="MEUN_ACTION" property="meunAction" jdbcType="VARCHAR" />
    <result column="MEUN_PARENT_ID" property="meunParentId" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="INTEGER" />
  </resultMap>
  
  	<sql id="biz_columns" >
		 MEUN_ID, MEUN_NAME, MEUN_ACTION, MEUN_PARENT_ID, ORDER_NO
	</sql>
	
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="biz_columns" />
    from pri_meun
    where MEUN_ID = #{meunId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pri_meun
    where MEUN_ID = #{meunId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.eenet.basequery.frontend.pri.PriMeun" >
    <![CDATA[
    	insert into pri_meun (
    	CREATED_DT,CREATED_BY, UPDATED_DT, UPDATED_BY,  CREATED_SID, UPDATED_SID,]]>
      <include refid="biz_columns" />
     <![CDATA[  ) values (
       #{createdDt,jdbcType=TIMESTAMP},  #{createdBy,jdbcType=VARCHAR}, #{updatedDt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR},#{createdSid,jdbcType=VARCHAR}, #{updatedSid,jdbcType=VARCHAR},
    	#{meunId,jdbcType=VARCHAR}, #{meunName,jdbcType=VARCHAR}, #{meunAction,jdbcType=VARCHAR}, 
       #{meunParentId,jdbcType=VARCHAR}, #{orderNo,jdbcType=INTEGER})
       	]]>
  </insert>
 
  <update id="update" parameterType="com.eenet.basequery.frontend.pri.PriMeun" >
    update pri_meun
    set MEUN_NAME = #{meunName,jdbcType=VARCHAR},
      MEUN_ACTION = #{meunAction,jdbcType=VARCHAR},
      MEUN_PARENT_ID = #{meunParentId,jdbcType=VARCHAR},
      ORDER_NO = #{orderNo,jdbcType=INTEGER},
      CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      CREATED_SID = #{createdSid,jdbcType=VARCHAR},
      UPDATED_SID = #{updatedSid,jdbcType=VARCHAR}
    where MEUN_ID = #{meunId,jdbcType=VARCHAR}
  </update>
  
  <select id="query" resultMap="default" parameterType="com.eenet.base.dao.SQLCondition">
		<include refid="com.eenet.base.${db.type}.rowNum_query_prefix" />
		<![CDATA[
			SELECT * FROM PRI_MEUN
			 WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
		<include refid="com.eenet.base.${db.type}.orderBy_quote" />
		<include refid="com.eenet.base.${db.type}.rowNum_quote_suffix" />
	</select>
</mapper>