<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eenet.basequery.learncenter.LCOrderInfo" >
	<resultMap type="com.eenet.basequery.learncenter.LCOrderInfo" id="default">
		<result column="STUDENT_ID" property="studentId" jdbcType="VARCHAR" />
		<result column="STUDENT_NAME" property="studentName" jdbcType="VARCHAR" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="NETWORK_SCHOOL_CODE" property="networkSchoolCode" jdbcType="VARCHAR" />
		<result column="SCHOOL_CHINESE_NAME" property="schoolChineseName" jdbcType="VARCHAR" />
		<result column="LEARNCENTER_CODE" property="learncenterCode" jdbcType="VARCHAR" />
		<result column="LEARNCENTER_NAME" property="learncenterName" jdbcType="VARCHAR" />
		<result column="LEARNCENTER_ID" property="learncenterId" jdbcType="VARCHAR" />
		<result column="LEARNCENTER_USER_ID" property="learncenterUserId" jdbcType="VARCHAR" />
		<result column="STAFF_NAME" property="staffName" jdbcType="VARCHAR" />
		<result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
		<result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
		<result column="RECEIVABLE_TOTAL_AMT" property="receivableTotalAmt" jdbcType="VARCHAR" />
		<result column="FAV_AMT" property="favAmt" jdbcType="VARCHAR" />
		<result column="ORDER_PAID_AMT" property="orderPaidAmt" jdbcType="VARCHAR" />
		<result column="PAY_TYPE" property="payType" jdbcType="VARCHAR" />
		<result column="PAY_TYPE_NAME" property="payTypeName" jdbcType="VARCHAR" />
		<result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
		<result column="ORDER_STATUS_NAME" property="orderStatusName" jdbcType="VARCHAR" />
		<result column="CUSTOMER_ID" property="customerId" jdbcType="VARCHAR" />
		<result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
		<result column="CREATED_DT" property="createdDt" jdbcType="DATE" />
		<result column="PAY_DATE" property="payDate" jdbcType="DATE" />
	</resultMap>
	
	<select id="query_count" resultType="java.lang.Integer" parameterType="com.eenet.base.dao.SQLCondition">
		<![CDATA[
			SELECT
				COUNT(1)
			FROM
				DM_LC_ORDERINFO
		 WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
	</select>
	
	<select id="query" resultMap="default" parameterType="com.eenet.base.dao.SQLCondition">
		<include refid="com.eenet.base.${db.type}.rowNum_query_prefix" />
		<![CDATA[
			SELECT
				STUDENT_ID,
				STUDENT_NAME,
				MOBILE,
				NETWORK_SCHOOL_CODE,
				SCHOOL_CHINESE_NAME,
				LEARNCENTER_CODE,
				LEARNCENTER_NAME,
				LEARNCENTER_USER_ID,
				STAFF_NAME,
				PRODUCT_ID,
				PRODUCT_NAME,
				RECEIVABLE_TOTAL_AMT,
				FAV_AMT,
				ORDER_PAID_AMT,
				PAY_TYPE,
				ORDER_STATUS,
				CUSTOMER_ID,
				CUSTOMER_NAME,
				CREATED_DT
			FROM
				DM_LC_ORDERINFO
		  WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
		<include refid="com.eenet.base.${db.type}.orderBy_quote" />
		<include refid="com.eenet.base.${db.type}.rowNum_quote_suffix" />
	</select>
	
	<select id="queryList_count" resultType="java.lang.Integer" parameterType="map">
		<![CDATA[
			SELECT
				COUNT(1)
			FROM
				DM_LC_ORDERINFO
		 WHERE 1=1 
		     	    AND  (
		    	(  LEARNCENTER_USER_ID IS NULL AND  LEARNCENTER_ID IS NULL  ) ]]>
		     <if test="learncenterUserId != null  "  >
		        <![CDATA[   OR  (  LEARNCENTER_USER_ID  IN  	]]>
				    <foreach item="id" index="index" collection="learncenterUserId" open="(" separator="," close=")">
						<![CDATA[#{id,jdbcType=VARCHAR}]]>
				    </foreach>  <![CDATA[   AND LEARNCENTER_ID   IS NULL )  	]]>
			</if>
		    <if test="learncenterId != null  "  >
				        <![CDATA[   OR  (  LEARNCENTER_ID  IN  	]]>
					    <foreach item="id" index="index" collection="learncenterId" open="(" separator="," close=")">
							<![CDATA[#{id,jdbcType=VARCHAR}]]>
					    </foreach>   <![CDATA[   AND LEARNCENTER_USER_ID   IS NULL )  	]]>
			   </if>
		    <if test="learncenterId != null  and learncenterUserId != null "  >
				        <![CDATA[   OR  (  LEARNCENTER_ID  IN  	]]>
					    <foreach item="id" index="index" collection="learncenterId" open="(" separator="," close=")">
							<![CDATA[#{id,jdbcType=VARCHAR}]]>
					    </foreach>   <![CDATA[   AND 	]]>
					     <![CDATA[     LEARNCENTER_USER_ID  IN  	]]>
					    <foreach item="id" index="index" collection="learncenterUserId" open="(" separator="," close=")">
							<![CDATA[#{id,jdbcType=VARCHAR}]]>
					    </foreach> <![CDATA[   )	]]>
			   </if>
		    <![CDATA[  
		    	)
		    ]]>
		    
		<include refid="com.eenet.basequery.learncenter.LCReserveOrder.queryList_quto" />
	</select>
	
	
	<select id="queryList" resultMap="default" parameterType="map">
		<![CDATA[
			SELECT
				STUDENT_ID,
				STUDENT_NAME,
				MOBILE,
				NETWORK_SCHOOL_CODE,
				SCHOOL_CHINESE_NAME,
				LEARNCENTER_CODE,
				LEARNCENTER_NAME,
				LEARNCENTER_USER_ID,
				STAFF_NAME,
				PRODUCT_ID,
				PRODUCT_NAME,
				RECEIVABLE_TOTAL_AMT,
				FAV_AMT,
				ORDER_PAID_AMT,
				PAY_TYPE,
				ORDER_STATUS,
				CUSTOMER_ID,
				CUSTOMER_NAME,
				CREATED_DT
			FROM
				DM_LC_ORDERINFO
		  WHERE 1=1
		   		     AND  (
		    	(  LEARNCENTER_USER_ID IS NULL AND  LEARNCENTER_ID IS NULL  ) ]]>
		     <if test="learncenterUserId != null  "  >
		        <![CDATA[   OR  (  LEARNCENTER_USER_ID  IN  	]]>
				    <foreach item="id" index="index" collection="learncenterUserId" open="(" separator="," close=")">
						<![CDATA[#{id,jdbcType=VARCHAR}]]>
				    </foreach>  <![CDATA[   AND LEARNCENTER_ID   IS NULL )  	]]>
			</if>
		    <if test="learncenterId != null  "  >
				        <![CDATA[   OR  (  LEARNCENTER_ID  IN  	]]>
					    <foreach item="id" index="index" collection="learncenterId" open="(" separator="," close=")">
							<![CDATA[#{id,jdbcType=VARCHAR}]]>
					    </foreach>   <![CDATA[   AND LEARNCENTER_USER_ID   IS NULL )  	]]>
			   </if>
		    <if test="learncenterId != null  and learncenterUserId != null "  >
				        <![CDATA[   OR  (  LEARNCENTER_ID  IN  	]]>
					    <foreach item="id" index="index" collection="learncenterId" open="(" separator="," close=")">
							<![CDATA[#{id,jdbcType=VARCHAR}]]>
					    </foreach>   <![CDATA[   AND 	]]>
					     <![CDATA[    LEARNCENTER_USER_ID  IN  	]]>
					    <foreach item="id" index="index" collection="learncenterUserId" open="(" separator="," close=")">
							<![CDATA[#{id,jdbcType=VARCHAR}]]>
					    </foreach> <![CDATA[   )	]]>
			   </if>
		    <![CDATA[  
		    	)
		    ]]>
		    
			<include refid="com.eenet.basequery.learncenter.LCReserveOrder.queryList_quto" />
			<![CDATA[  ORDER BY CREATED_DT  DESC   ]]>
			<include refid="com.eenet.basequery.learncenter.LCReserveOrder.queryList_rowNum_quote_suffix" />
	</select>
	
	<sql id="queryList_quto">
		<if test="orderStatus != null and orderStatus != '' "  >
			 AND ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR}
		</if>
		<if test="staffName != null and staffName != '' " >
			AND STAFF_NAME like CONCAT('%',#{staffName,jdbcType=VARCHAR},'%')
		</if>
		<if test="customerName != null and customerName != '' " >
			AND CUSTOMER_NAME like CONCAT('%',#{customerName,jdbcType=VARCHAR},'%')
		</if>
		<if test="learncenterName != null and learncenterName != '' " >
			AND LEARNCENTER_NAME like CONCAT('%',#{learncenterName,jdbcType=VARCHAR},'%')
		</if>
		<if test="productName != null and productName != '' " >
			AND PRODUCT_NAME like CONCAT('%',#{productName,jdbcType=VARCHAR},'%') 
		</if>
		<if test="schoolChineseName != null and schoolChineseName != '' " >
			AND SCHOOL_CHINESE_NAME like CONCAT('%',#{schoolChineseName,jdbcType=VARCHAR},'%')
		</if>
		<if test="studentName != null and studentName != '' " >
			AND STUDENT_NAME like CONCAT('%',#{studentName,jdbcType=VARCHAR},'%')
		</if>
		<if test="createdDt != null and createdDt != '' " >
			<![CDATA[
			AND CREATED_DT >= #{createdDt,jdbcType=DATE}	and  CREATED_DT <= #{createdDtTo,jdbcType=DATE}
			]]>
		</if>
	</sql>
	
	<sql id="queryList_rowNum_quote_suffix">
		  LIMIT #{startIndex,jdbcType=NUMERIC} , #{maxQuantity,jdbcType=NUMERIC} 
	</sql>

</mapper>