<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eenet.basequery.learncenter.LCReserveOrder" >
	<resultMap type="com.eenet.basequery.learncenter.LCReserveOrder" id="default">
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="USER_ACCOUNT_ID" property="userAccountId" jdbcType="VARCHAR" />
		<result column="STUDENT_NAME" property="studentName" jdbcType="VARCHAR" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
		<result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
		<result column="COLLEGES" property="colleges" jdbcType="VARCHAR" />
		<result column="SCHOOLCHINESENAME" property="schoolchinesename" jdbcType="VARCHAR" />
		<result column="LEARNCENTER_ID" property="learncenterId" jdbcType="VARCHAR" />
		<result column="LEARNCENTER_NAME" property="learncenterName" jdbcType="VARCHAR" />
		<result column="LEARNCENTER_USER_ID" property="learncenterUserId" jdbcType="VARCHAR" />
		<result column="LOGIN_ACCOUNT" property="loginAccount" jdbcType="VARCHAR" />
		<result column="STAFF_NAME" property="staffName" jdbcType="VARCHAR" />
		<result column="FOLLOW_RESULT" property="followResult" jdbcType="VARCHAR" />
		<result column="FOLLOW_RESULT_NAME" property="followResultName" jdbcType="VARCHAR" />
		<result column="FOLLOW_CONTENT" property="followContent" jdbcType="VARCHAR" />
		<result column="FOLLOW_DATE" property="followDate" jdbcType="VARCHAR" />
		<result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
		<result column="ORDER_STATUS_NAME" property="orderStatusName" jdbcType="VARCHAR" />
		<result column="CREATED_DT" property="createdDt" jdbcType="DATE" />
	</resultMap>
	
	<select id="query_count" resultType="java.lang.Integer" parameterType="com.eenet.base.dao.SQLCondition">
		<![CDATA[
			SELECT
				COUNT(1)
			FROM
				TMP_LC_RESERVEORDER
		 WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
	</select>
	
	<select id="query" resultMap="default" parameterType="com.eenet.base.dao.SQLCondition">
		<include refid="com.eenet.base.${db.type}.rowNum_query_prefix" />
		<![CDATA[
			SELECT
				USER_ID,				
				USER_ACCOUNT_ID,				
				STUDENT_NAME,				
				MOBILE,				
				PRODUCT_ID,				
				PRODUCT_NAME,			
				COLLEGES,				
				SCHOOLCHINESENAME,				
				LEARNCENTER_ID,				
				LEARNCENTER_NAME,				
				LEARNCENTER_USER_ID,				
				LOGIN_ACCOUNT,				
				STAFF_NAME,				
				FOLLOW_RESULT,	
				FOLLOW_RESULT_NAME,			
				FOLLOW_CONTENT,				
				FOLLOW_DATE,				
				ORDER_STATUS,		
				ORDER_STATUS_NAME,		
				CREATED_DT 
			FROM
				TMP_LC_RESERVEORDER
		  WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
		<include refid="com.eenet.base.${db.type}.orderBy_quote" />
		<include refid="com.eenet.base.${db.type}.rowNum_quote_suffix" />
	</select>

</mapper>