<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eenet.basequery.learncenter.ProductQuery" >
	<resultMap type="com.eenet.basequery.learncenter.ProductQuery" id="default">
		<result column="NETWORK_SCHOOL_CODE" property="netWorkSchoolCode" jdbcType="VARCHAR" />
	    <result column="SCHOOL_CHINESE_NAME" property="schoolChineseName" jdbcType="VARCHAR" />
	    <result column="PRODUCT_CODE" property="productCode" jdbcType="VARCHAR" />
	    <result column="PRODUCT_NAME" property="productName" jdbcType="TIMESTAMP" />
	    <result column="STUDY_PERIOD" property="studyPreriod" jdbcType="VARCHAR" />
	    <result column="FEE_DESC" property="feeDesc" jdbcType="VARCHAR" />
	    <result column="PRODUCT_HOUR" property="productHour" jdbcType="VARCHAR" />
   		<result column="GRADE_ID" property="gradeId" jdbcType="VARCHAR" />
   		<result column="GRADE_NAME" property="gradeName" jdbcType="VARCHAR" />
    	<result column="BASE_NUM" property="baseNum" jdbcType="VARCHAR" />
    	<result column="SALES_STATUS" property="salesStatus" jdbcType="VARCHAR" />
    	<result column="SALES_STATUS_NAME" property="salesStatusName" jdbcType="VARCHAR" />
    	<result column="SALES_MODEL" property="salesModel" jdbcType="VARCHAR" />
    	<result column="SALES_MODEL_NAME" property="salesModelName" jdbcType="VARCHAR" />
    	<result column="FEE_AUDIT_STATUS" property="feeAuditStatus" jdbcType="VARCHAR" />
    	<result column="FEE_AUDIT_STATUS_NAME" property="feeAuditStatusName" jdbcType="VARCHAR" />
    	<result column="ON_SHELVES_STATUS" property="onShelvesStatus" jdbcType="VARCHAR" />
    	<result column="ON_SHELVES_STATUS_NAME" property="onShelvesStatusName" jdbcType="VARCHAR" />
    	<result column="APPLY_START_DT" property="applyStartDt" jdbcType="DATE" />
     	<result column="APPLY_END_DT" property="applyEndDt" jdbcType="DATE" />
     	<result column="CREATED_DT" property="createdDt" jdbcType="DATE" />
	</resultMap>

	
	<select id="query_count" resultType="java.lang.Integer" parameterType="com.eenet.base.dao.SQLCondition">
		<![CDATA[
			SELECT
				COUNT(1)
			FROM
				TMP_LC_PRODUCT
		   WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
	</select>
	
	<select id="query" resultMap="default" parameterType="com.eenet.base.dao.SQLCondition">
		<include refid="com.eenet.base.${db.type}.rowNum_query_prefix" />
		<![CDATA[
			SELECT
				SCHOOL_CHINESE_NAME,
				PRODUCT_CODE,
				PRODUCT_NAME,
				STUDY_PERIOD,
				FEE_DESC,
				PRODUCT_HOUR,
				GRADE_ID,
				GRADE_NAME,
				BASE_NUM,
				SALES_STATUS,
				SALES_STATUS_NAME,
				SALES_MODEL,
				SALES_MODEL_NAME,
				FEE_AUDIT_STATUS,
				FEE_AUDIT_STATUS_NAME,
				ON_SHELVES_STATUS,
				ON_SHELVES_STATUS_NAME,
				APPLY_START_DT,
				APPLY_END_DT,
				CREATED_DT
			FROM
				TMP_LC_PRODUCT
		  WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
		<include refid="com.eenet.base.${db.type}.orderBy_quote" />
		<include refid="com.eenet.base.${db.type}.rowNum_quote_suffix" />
	</select>

</mapper>