<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eenet.authen.AdminUserLoginAccount" >
	<resultMap type="com.eenet.authen.AdminUserLoginAccount" id="default">
		<id column="ADMIN_LOGIN_ACCOUNT_ID" property="atid" jdbcType="VARCHAR" />
		<result column="CREATED_DT" property="crdt" jdbcType="TIMESTAMP" />
	    <result column="CREATED_BY" property="crps" jdbcType="VARCHAR" />
	    <result column="CREATED_SID" property="crss" jdbcType="VARCHAR" />
	    <result column="UPDATED_DT" property="mddt" jdbcType="TIMESTAMP" />
	    <result column="UPDATED_BY" property="mdps" jdbcType="VARCHAR" />
	    <result column="UPDATED_SID" property="mdss" jdbcType="VARCHAR" />
	    <result column="REMARK" property="dataDescription" jdbcType="VARCHAR" />
	    
	    <result column="LOGIN_ACCOUNT" property="loginAccount" jdbcType="VARCHAR" />
	    <result column="ACCOUNT_TYPE" property="accountType" jdbcType="VARCHAR" />
	    <association column="ADMIN_ID" property="userInfo" javaType="com.eenet.baseinfo.user.AdminUserInfo" 
	    			resultMap="com.eenet.baseinfo.user.AdminUserInfo.default"/>
	</resultMap>
	<sql id="biz_columns" >
		ADMIN_ID, LOGIN_ACCOUNT, ACCOUNT_TYPE
	</sql>
	
	<select id="query_count" resultType="java.lang.Integer" parameterType="com.eenet.base.dao.SQLCondition">
		<![CDATA[
		SELECT count(*) FROM (
			SELECT T.*  FROM dm_admin_login_account T LEFT JOIN dm_admin_info V ON T.ADMIN_ID=V.ADMIN_ID and V.is_deleted =  'N' and V.ADMIN_NAME is not null 
		) TB WHERE 1=1   
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
	</select>
	
	<select id="query" resultMap="default" parameterType="com.eenet.base.dao.SQLCondition">
		<include refid="com.eenet.base.${db.type}.rowNum_query_prefix" />
		<![CDATA[
		SELECT * FROM (
			SELECT T.*,
		]]><include refid="com.eenet.baseinfo.user.AdminUserInfo.biz_columns" /><![CDATA[
			FROM dm_admin_login_account T LEFT JOIN dm_admin_info V ON T.ADMIN_ID=V.ADMIN_ID  and V.is_deleted =  'N' and V.ADMIN_NAME is not null 
		) TB WHERE 1=1  
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
		<include refid="com.eenet.base.${db.type}.orderBy_quote" />
		<include refid="com.eenet.base.${db.type}.rowNum_quote_suffix" />
	</select>
	
	<insert id="insert" parameterType="com.eenet.authen.AdminUserLoginAccount">
		<![CDATA[
		INSERT INTO dm_admin_login_account(
			ADMIN_LOGIN_ACCOUNT_ID, CREATED_BY, CREATED_SID, REMARK,
			]]><include refid="biz_columns" /><![CDATA[
		) VALUES (
			#{atid,jdbcType=VARCHAR}, #{crps,jdbcType=VARCHAR}, #{crss,jdbcType=VARCHAR}, #{dataDescription,jdbcType=VARCHAR},
			#{userInfo.atid,jdbcType=VARCHAR}, #{loginAccount,jdbcType=VARCHAR}, #{accountType,jdbcType=VARCHAR}
		)
		]]>
	</insert>
	<update id="update" parameterType="com.eenet.authen.AdminUserLoginAccount" >
		<![CDATA[
		UPDATE dm_admin_login_account SET
			UPDATED_DT = ]]><include refid="com.eenet.base.${db.type}.current_function" /><![CDATA[,
			UPDATED_BY = #{mdps,jdbcType=VARCHAR},
			UPDATED_SID = #{mdss,jdbcType=VARCHAR},
			REMARK = #{dataDescription,jdbcType=VARCHAR},
			ADMIN_ID = #{userInfo.atid,jdbcType=VARCHAR},
			LOGIN_ACCOUNT = #{loginAccount,jdbcType=VARCHAR},
			ACCOUNT_TYPE = #{accountType,jdbcType=VARCHAR}
		WHERE ADMIN_LOGIN_ACCOUNT_ID = #{atid,jdbcType=VARCHAR}
		]]>
	</update>
	<select id="selectByPrimaryKey" resultMap="default" parameterType="java.lang.String" >
		<![CDATA[
  		select 
		    ADMIN_LOGIN_ACCOUNT_ID, CREATED_DT, CREATED_BY, CREATED_SID, UPDATED_DT, UPDATED_BY, UPDATED_SID, REMARK,
		    ]]><include refid="biz_columns" /><![CDATA[ 
		    from dm_admin_login_account  
	    where 1=1  and   and ADMIN_LOGIN_ACCOUNT_ID = #{atid,jdbcType=VARCHAR}
	  	]]>
	</select>
	<delete id="delete">
		<![CDATA[
		delete from dm_admin_login_account WHERE ADMIN_LOGIN_ACCOUNT_ID IN
  		]]>
  		<foreach item="atid" index="index" collection="array" open="(" separator="," close=")">
  			<![CDATA[#{atid,jdbcType=VARCHAR}]]>
  		</foreach>
	</delete>
	<insert id="backup" parameterType="com.eenet.base.biz.BackupData">
		<![CDATA[
		INSERT INTO LOG_dm_admin_login_account (
			ADMIN_LOGIN_ACCOUNT_ID, CREATED_DT, CREATED_BY, CREATED_SID, UPDATED_DT, UPDATED_BY, UPDATED_SID, REMARK,]]><include refid="biz_columns" /><![CDATA[, BACKUP4
		) SELECT
			ADMIN_LOGIN_ACCOUNT_ID, CREATED_DT, CREATED_BY, CREATED_SID, UPDATED_DT, UPDATED_BY, UPDATED_SID, REMARK,]]><include refid="biz_columns" /><![CDATA[, #{backup4,jdbcType=VARCHAR}
		FROM dm_admin_login_account WHERE ADMIN_LOGIN_ACCOUNT_ID IN
		]]>
		<foreach item="atid" index="index" collection="atids" open="(" separator="," close=")">
			<![CDATA[#{atid,jdbcType=VARCHAR}]]>
		</foreach>
	</insert>
</mapper>