<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eenet.basequery.resource.RECourse" >
	<resultMap type="com.eenet.basequery.resource.RECourse" id="default">
		<result column="COURSE_ID" property="courseId" jdbcType="VARCHAR" />
		<result column="COURSE_NAME" property="courseName" jdbcType="VARCHAR" />
		<result column="COURSE_STATUS" property="courseStatus" jdbcType="VARCHAR" />
		<result column="COURSE_STATUS_NAME" property="courseStatusName" jdbcType="VARCHAR" />
		<result column="COURSE_TYPE" property="courseType" jdbcType="VARCHAR" />
		<result column="COURSE_TYPE_NAME" property="courseTypeName" jdbcType="VARCHAR" />
		<result column="NETWORK_SCHOOL_CODE" property="networkSchoolCode" jdbcType="VARCHAR" />
		<result column="SCHOOL_CHINESE_NAME" property="schoolChineseName" jdbcType="VARCHAR" />
		<result column="PUBLISH_DT" property="publishDt" jdbcType="VARCHAR" />
		<result column="CREATED_DT" property="createdDt" jdbcType="VARCHAR" />
	</resultMap>

	
	<select id="query_count" resultType="java.lang.Integer" parameterType="com.eenet.base.dao.SQLCondition">
		<![CDATA[
			SELECT 
				COUNT(1)
			FROM 
				TMP_RE_COURSEINFO
		  WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
	</select>
	
	<select id="query" resultMap="default" parameterType="com.eenet.base.dao.SQLCondition">
		<include refid="com.eenet.base.${db.type}.rowNum_query_prefix" />
		<![CDATA[
			SELECT 
				COURSE_ID,				
				COURSE_NAME,		
				COURSE_STATUS,				 
				COURSE_STATUS_NAME,	
				COURSE_TYPE,		
				COURSE_TYPE_NAME,		
				NETWORK_SCHOOL_CODE,				
				SCHOOL_CHINESE_NAME,				 
				PUBLISH_DT,				
				CREATED_DT
			FROM 
				TMP_RE_COURSEINFO
		  WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
		<include refid="com.eenet.base.${db.type}.orderBy_quote" />
		<include refid="com.eenet.base.${db.type}.rowNum_quote_suffix" />
	</select>

</mapper>