<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eenet.basequery.chart.company.ThemeFunnelCompanyExecuteAccount" >
	<resultMap type="com.eenet.basequery.chart.company.ThemeFunnelCompanyExecuteAccount" id="default">
		<result column="DIM_ADMIN_LOGIN_ACCOUNT" property="DIM_ADMIN_LOGIN_ACCOUNT" jdbcType="VARCHAR" />
		<result column="AFFIRM_COUNT" property="AFFIRM_COUNT" jdbcType="VARCHAR" />
		<result column="EXECUTE_COUNT" property="EXECUTE_COUNT" jdbcType="VARCHAR" />
		<result column="EXECUTE_PER" property="EXECUTE_PER" jdbcType="VARCHAR" />				
		<result column="DIM_CREATED_DT" property="DIM_CREATED_DT" jdbcType="DATE" />
	</resultMap>
	
	<select id="query_count" resultType="java.lang.Integer" parameterType="com.eenet.base.dao.SQLCondition">
		<![CDATA[
			SELECT COUNT(1)
			FROM (
				SELECT 	SUM(AFFIRM_COUNT) AS AFFIRM_COUNT,
								SUM(EXECUTE_COUNT) AS EXECUTE_COUNT,
								CONCAT(FORMAT(IFNULL(SUM(EXECUTE_COUNT)/SUM(AFFIRM_COUNT)*100,0),2),'%') AS EXECUTE_PER,
								DIM_ADMIN_LOGIN_ACCOUNT
				FROM DM_FACT_FUNNEL_COMPANY_EXECUTE_ACCOUNT
			WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
		<![CDATA[
			GROUP BY DIM_ADMIN_LOGIN_ACCOUNT)S
		]]>		
	</select>
	
	<select id="query" resultMap="default" parameterType="com.eenet.base.dao.SQLCondition">
		<include refid="com.eenet.base.${db.type}.rowNum_query_prefix" />
		<![CDATA[
			SELECT 	SUM(AFFIRM_COUNT) AS AFFIRM_COUNT,
							SUM(EXECUTE_COUNT) AS EXECUTE_COUNT,
							CONCAT(FORMAT(IFNULL(SUM(EXECUTE_COUNT)/SUM(AFFIRM_COUNT)*100,0),2),'%') AS EXECUTE_PER,
							DIM_ADMIN_LOGIN_ACCOUNT
			FROM DM_FACT_FUNNEL_COMPANY_EXECUTE_ACCOUNT
			WHERE 1=1 		  		
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
		<![CDATA[
			GROUP BY DIM_ADMIN_LOGIN_ACCOUNT
		]]>
		<include refid="com.eenet.base.${db.type}.orderBy_quote" />
		<include refid="com.eenet.base.${db.type}.rowNum_quote_suffix" />		
	</select>

</mapper>