<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd   
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<mvc:annotation-driven conversion-service="conversionService1" />
	<context:component-scan base-package="com.eenet">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<bean id="conversionService1" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="com.eenet.base.web.spring.DateConverter" />
			</set>
		</property>
	</bean>
	
	<!-- JSP视图解析 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
		<property name="contentType" value="text/html;charset=UTF8" />
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
	</bean> 
	
	<mvc:interceptors>  
	    <mvc:interceptor>  
	        <!-- 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截 -->  
	        <mvc:mapping path="/**"/>  
	        <!-- 定义在mvc:interceptor下面的表示是对特定的请求不进行拦截 -->  
	         <mvc:exclude-mapping path="/"/>
	         <mvc:exclude-mapping path="/login"/>
	         <mvc:exclude-mapping path="/static/**"/>
	         <mvc:exclude-mapping path="/login/**"/>
	         <mvc:exclude-mapping path="/favicon.ico"/>
	       	<bean class="com.eenet.basequery.interceptor.LoginInterceptor"/>  
	    </mvc:interceptor>  
	</mvc:interceptors>  

	<!-- 静态资源映射 -->
	<mvc:resources location="/static/" mapping="/static/**" />
	<mvc:resources location="/login/" mapping="/login/**" />
	<mvc:resources location="/favicon.ico" mapping="/favicon.ico" />
	
     <mvc:view-controller path="/"  view-name="login/login" />
     
</beans>