<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eenet.basequery.chart.main.ThemeFunnelMainBarAll" >
	<resultMap type="com.eenet.basequery.chart.main.ThemeFunnelMainBarAll" id="default">
		<result column="DIM_YEAR" property="DIM_YEAR" jdbcType="VARCHAR" />
		<result column="COUNT_STUDENT" property="COUNT_STUDENT" jdbcType="VARCHAR" />
		<result column="COUNT_ORDER" property="COUNT_ORDER" jdbcType="VARCHAR" />		
	</resultMap>
	
	<select id="query_count" resultType="java.lang.Integer" parameterType="com.eenet.base.dao.SQLCondition">
		<![CDATA[
			SELECT COUNT(1)
			FROM (
				SELECT YEAR_SK AS DIM_YEAR, -- 年份
					SUM(COUNT_STUDENT) AS COUNT_STUDENT, -- 学员数
					SUM(COUNT_ORDER) AS COUNT_ORDER -- 订单数
				FROM DM_FACT_MAIN_BAR
			WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />	
		<![CDATA[
			GROUP BY YEAR_SK)S
		]]>				
	</select>
	
	<select id="query" resultMap="default" parameterType="com.eenet.base.dao.SQLCondition">
		<include refid="com.eenet.base.${db.type}.rowNum_query_prefix" />
		<![CDATA[
			SELECT YEAR_SK AS DIM_YEAR, -- 年份
				SUM(COUNT_STUDENT) AS COUNT_STUDENT, -- 学员数
				SUM(COUNT_ORDER) AS COUNT_ORDER -- 订单数
			FROM DM_FACT_MAIN_BAR
			WHERE 1=1 		  		
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
		<![CDATA[
			GROUP BY YEAR_SK
		]]>		
		<include refid="com.eenet.base.${db.type}.orderBy_quote" />
		<include refid="com.eenet.base.${db.type}.rowNum_quote_suffix" />		
	</select>

</mapper>