<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eenet.basequery.sales.SaleStudent" >
	<resultMap type="com.eenet.basequery.sales.SaleStudent" id="default">
		<result column="STUDENT_ID" property="studentId" jdbcType="VARCHAR" />
		<result column="STUDENT_NAME" property="studentName" jdbcType="VARCHAR" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
		<result column="PROVINCE_NAME" property="provinceName" jdbcType="VARCHAR" />
		<result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
		<result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
		<result column="DISTRICT_CODE" property="districtCode" jdbcType="VARCHAR" />
		<result column="DISTINCT_NAME" property="distinctName" jdbcType="VARCHAR" />
		<result column="ADD_DATE" property="addDate" jdbcType="DATE" />
		<result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
		<result column="ORDER_STATUS_NAME" property="orderStatusName" jdbcType="VARCHAR" />
		<result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
		<result column="LOGIN_ACCOUNT" property="loginAccount" jdbcType="VARCHAR" />
		<result column="STAFF_NAME" property="staffName" jdbcType="VARCHAR" />
		<result column="SALE_LOGIN_ACCOUNT" property="saleLoginAccount" jdbcType="VARCHAR" />
		<result column="SALE_STAFF_NAME" property="saleStaffName" jdbcType="VARCHAR" />
		<result column="CREATED_DT" property="createdDt" jdbcType="DATE" />
	</resultMap>

	
	<select id="query_count" resultType="java.lang.Integer" parameterType="com.eenet.base.dao.SQLCondition">
		<![CDATA[
			SELECT
				COUNT(1)
			FROM 
				TMP_SALE_STUDENT
		   WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
	</select>
	
	<select id="query" resultMap="default" parameterType="com.eenet.base.dao.SQLCondition">
		<include refid="com.eenet.base.${db.type}.rowNum_query_prefix" />
		<![CDATA[
			SELECT
				STUDENT_ID,				
				STUDENT_NAME,				 
				MOBILE,				
				PROVINCE_CODE,				
				PROVINCE_NAME,				
				CITY_CODE,				
				CITY_NAME,				
				DISTRICT_CODE,				
				DISTINCT_NAME,			
				ADD_DATE,				
				ORDER_STATUS,	
				ORDER_STATUS_NAME,			 
				CUSTOMER_NAME,				
				LOGIN_ACCOUNT,			
				STAFF_NAME,				
				SALE_LOGIN_ACCOUNT,				
				SALE_STAFF_NAME ,
				CREATED_DT
			FROM 
				TMP_SALE_STUDENT
		  WHERE 1=1 
		]]>
		<include refid="com.eenet.base.${db.type}.query_quote" />
		<include refid="com.eenet.base.${db.type}.orderBy_quote" />
		<include refid="com.eenet.base.${db.type}.rowNum_quote_suffix" />
	</select>

</mapper>